* {
	font-family: "Comic Sans MS", sans-serif;
	margin: 5px;
}
body {
  text-align: center;
}
#board {
	width: 600px;
	height: 600px;
  margin-left: auto;
  margin-right: auto;
}
div {
  display: inline-block;
  border: 1px solid black;
}
.cell {
	width: 180px;
	height: 180px;
}

.cell:hover {
	background-color: yellow;
	color: black;
}
img {
	height: 80%;
	width: 80%;
}
