* {
	margin: 5px;
}
body {
	font-family: "Comic Sans MS", sans-serif;
  text-align: center;
	background: url("http://i.imgur.com/cqDCZk1.jpg") no-repeat;
	background-color: red;
  background-position: center;
  background-size: cover;
}
#board img {
	height: 80%;
	width: 80%;
}
h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;/*/
	/*8 levels of shading: base text is given a white fill, then each of the following 8 text-shadow
	values are given larger and larger blur amounts while also getting darker hex codes.
	this blends them as the blur gets 'bigger'*/
}
div {
  display: inline-block;
}
#board {
	width: 600px;
	height: auto;
  margin-left: auto;
  margin-right: auto;
}
.cell {
	float: left;
	width: 180px;
	height: 180px;
  border: 1px solid black;
}
.cell:hover {
	background-color: yellow;
	color: black;
}
.results {
	width: 600px;
	display: inline-block;
}
.turns {
	color: #eee;
	font-size: 2em;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;/
}
.left {
	float: left;
}
.right {
	float: right;
}
h1 img {
	height: 250px;
}
